<h1>Import Walmart product and reviews</h1>
<div>
  <div>
    <%= form_tag({controller: "/products", action:"get_title"}, id:"get_product_title", method:"get", remote:true) do %>
    <%= label_tag :url, "Copy Walmart product url here", class:"url_label"%>
    <%= url_field_tag :url, nil, id:"product_name_field", autocomplete: "off",required:true%>
    <%= submit_tag "Get product name"%>
    <%end%>
  </div>
  <div id="product_box">
    <%= form_tag({controller: "/products", action:"create"}, id:"create_product") do %>
      Product name is <b id="product_name"></b>
      <%= hidden_field_tag :w_id, id:"product_id"%>
      <%= hidden_field_tag :title, id:"product_title"%>
      <%= submit_tag "Create product and import reviews"%>
    <% end %>
  </div>

  <%=link_to "All products", products_path %>
</div>