.review_item {
  margin:20px 0px;
   list-style-type: none;;
}

.product_item {
  margin:20px 0px;
}

.link_to_product {
  margin-left:10px
}

.review_date {
  margin-left:20px
}

.url_label {
  margin:10px 20px
}

#product_box {
  margin:20px 20px;
  visibility: hidden;
}

#product_name {
  margin:0px 15px;
}