document.getElementById("product_name").innerHTML = "<%=@scraper.product_title%>"
document.getElementById("w_id").value = "<%=@scraper.product_id%>"
document.getElementById("title").value = "<%= @scraper.product_title.html_safe%>"
document.getElementById("product_box").style.visibility = "visible"
